#postcard{
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
}

#search-bar{
    border-radius: 8px;
    margin-bottom: 20px;
}

#redirect{
    text-decoration: none;
    color: black;
}