#postcard{
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    text-align: left;
}


#search-bar{
    border-radius: 5px;
    margin-bottom: 20px;
}

#redirect{
    text-decoration: none;
    color: black;
}

#google-pay{
    min-width: 100px;
    margin: auto;
}

#hr{
    width: 100%;
}

#post-view{
    max-width: 1000px;
    margin:auto;
}

#comment{
    text-align: left;
}