#search-users{
    border-radius: 8px;
    margin-bottom: 20px;
}

#unfollow-button{
    background-color: white;
    position: absolute;
    top: 50%;
}

#follow-button{
    position: absolute;
    top: 50%;
}

.card{
    max-width: 1000px;
    margin: 5px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#avatar{
    position: absolute;
    top: 50%;
}