#login-form{
    text-align: left;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border: 2px solid;
}

#login-button{
    text-align: center;
}

#error-div{
    background-color: red;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
}
